<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title rainbirdng

        script(src="https://use.fontawesome.com/20e2d19935.js")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Roboto:400,400i,700,700i&subset=latin-ext")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/style.css")
    body
        .wrapper
            header.header.row.column
                .header__top
                    a(href="").header__social
                        i.fa.fa-lg.fa-youtube

                    a(href="").header__social
                        i.fa.fa-lg.fa-linkedin
                .header__bottom
                    .header__logo
                        a(href="").header__link
                            img(src="./images/logo.png", alt="").header__img
                    .header__menu.menu
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href="") The Group
                            li.menu__item
                                a.menu__link(href="") Projects
                            li.menu__item
                                a.menu__link(href="") Services
                                ul.menu__drop
                                    li.menu__dropdown
                                        a.menu__link-drop(href="") Water Engineering
                                        ul.menu__sub
                                            li.menu__sub-item
                                                a.menu__link-sub(href="") Waste Water
                                            li.menu__sub-item
                                                a.menu__link-sub(href="") Water treatment plant
                                    li.menu__dropdown
                                        a.menu__link-drop(href="") Civil Engineering
                                        ul.menu__sub
                                            li.menu__sub-item
                                                a.menu__link-sub(href="") Projects
                                            li.menu__sub-item
                                                a.menu__link-sub(href="") Development
                                                ul.menu__subtwo
                                                    li.menu__subtwo-item
                                                        a.menu__subtwo-link(href="") Road
                                                    li.menu__subtwo-item
                                                        a.menu__subtwo-link(href="") Dams
                                    li.menu__dropdown
                                        a.menu__link-drop(href="") Electro Mech
                                    li.menu__dropdown
                                        a.menu__link-drop(href="") Renewable Energy
                                    li.menu__dropdown
                                        a.menu__link-drop(href="") Agric Aid
                                    li.menu__dropdown
                                        a.menu__link-drop(href="") Consultancy
                                    li.menu__dropdown
                                        a.menu__link-drop(href="") FireFighting
                    .header__ipum
                        a(href="").header__link
                            img(src="./images/ipump.png", alt="").header__image
            main.content

                .slider
                    #myCarousel.carousel.slide(data-ride="carousel")

                        ol.carousel-indicators
                            li(data-target="#myCarousel" data-slide-to="0").active
                            li(data-target="#myCarousel" data-slide-to="1")
                            li(data-target="#myCarousel" data-slide-to="2")
                            li(data-target="#myCarousel" data-slide-to="3")

                        .carousel-inner
                            .item.active
                                a(href="")
                                    .slider__text.row
                                        a.slider__a(href="") PMXT: range completed
                                    img(src="./images/slider1.png" alt="Los Angeles" style="width:100%; ")

                            .item
                                a(href="")
                                    .slider__text.row
                                        a.slider__a(href="") DESERT+ENERGY: THE BEST SOLUTION
                                    img(src="./images/slider2.png" alt="Los Angeles" style="width:100%; ")
                            .item
                                a(href="")
                                    .slider__text.row
                                        a.slider__a(href="") the new k+energy
                                    img(src="./images/slider3.png" alt="Los Angeles" style="width:100%; ")
                            .item
                                a(href="")
                                    .slider__text.row
                                        a.slider__a(href="") AUSTRALIA: VICTORIAN WATER AUTHORITY
                                    img(src="./images/slider4.jpg" alt="Los Angeles" style="width:100%;")
                                    //- carousel-caption


                    .click.row
                        .click__top
                            a(href="#myCarousel" data-slide="prev")
                                span.button.button__back
                                span.sr-only Previous

                            a(href="#myCarousel" data-slide="next")
                                span.button.button__next
                                span.sr-only Next
                        .click__down
                            a(href="#solution" )
                                //- tabindex="-1"
                                img(src="./images/down.png", alt="")

                .solution#solution
                    .solution__content.row.column
                        .content__top
                            h2.content__title
                                a(href="") Solutions
                            a.content__btn(href="") Access
                        .solution__list
                            .solution__item
                                a.solution__link(href="")
                                    img.solution__image(src="./images/solution1.jpg", alt="")
                                    h3.solution__text Agriculture
                            .solution__item
                                a.solution__link(href="")
                                    img.solution__image(src="./images/solution2.jpg", alt="")
                                    h3.solution__text Water Industry
                            .solution__item
                                a.solution__link(href="")
                                    img.solution__image(src="./images/solution3.jpg", alt="")
                                    h3.solution__text Infrastructure
                            .solution__item
                                a.solution__link(href="")
                                    img.solution__image(src="./images/solution4.jpg", alt="")
                                    h3.solution__text General Industry
                            .solution__item
                                a.solution__link(href="")
                                    img.solution__image(src="./images/solution5.jpg", alt="")
                                    h3.solution__text Special industries
                .product
                    .product__content.row.column
                        .content__top
                            h2.content__title
                                a(href="") Product range
                            a.content__btn(href="") Access
                        .product__list
                            .product__item
                                a.product__link(href="")
                                    img.product__image(src="./images/product1.jpg", alt="")
                                    h3.product__text.product__text-one Deep water collection and distribution
                            .product__item
                                a.product__link(href="")
                                    img.product__image(src="./images/product2.jpg", alt="")
                                    h3.product__text.product__text-two Surface water lifting and distribution
                            .product__item
                                a.product__link(href="")
                                    img.product__image(src="./images/product3.jpg", alt="")
                                    h3.product__text.product__text-three Waste water collection and distribution
                            .product__item
                                a.product__link(href="")
                                    img.product__image(src="./images/product4.jpg", alt="")
                                    h3.product__text.product__text-four Pump control technology
                .project.row
                    .content__top.column
                        h2.content__title
                            a.content__title-blue(href="") Projects
                        a.content__btn.content__btn-blue(href="") Access
                    .project__bottom
                        .project__left
                            h4.project__title Superior service for each individual customer.
                            p.project__desc To maintain its leading position on an ever more competitive market and besides tried-and-tested problem solving skills based on know-how that’s far from easy to imitate, Caprari has also invested in its ability to involve the customers to an increasingly greater extent when it comes to creating performance and value. We consider our customers as precious partners with whom we collaborate and establish long-term relations of mutual trust.
                                br
                                br
                                |   Please find here below some of our international plants that present a picture on the dynamism of our Company.
                        .project__right
                            h3.project__latest Latest projects
                            ul.project__list
                                li.project__item
                                    a.project__link(href="")
                                        h4.project__text MERUNGLE HILL PROJECT
                                li.project__item
                                    a.project__link(href="")
                                        h4.project__text GRAND ETHIOPIAN RENAISSANCE DAM (Milleniumdam)
                                li.project__item
                                    a.project__link(href="")
                                        h4.project__text URANIUM MINE - DARWIN RANGER MINE
                                li.project__item
                                    a.project__link(href="")
                                        h4.project__text DISCOVERY GARDENS
                                li.project__item
                                    a.project__link(href="")
                                        h4.project__text BARI - ARTIFICIAL TUNNEL
                                li.project__item
                                    a.project__link.project__link-more(href="")
                                        h4.project__text.project__text-more List of projects
            footer.footer
                .footer.row.column
                    .footer__left
                        p © Copyright 2020 - Caprari Spa Via Emilia Ovest 900 - 41123 Modena
                        p Tel. +39 059897611 | Fax +39 059897897
                        p P. IVA n° 01779310364
                    .footer__right
                        ul
                            li
                                a(href="") Legal Notices
                            li
                                a(href="") Privacy e cookie policy
                            li
                                a(href="") Credits
                        .footer__social
                            a(href="")
                                i.fa.fa-lg.fa-youtube

                            a(href="")
                                i.fa.fa-lg.fa-linkedin