



main .landing:first-child {
    margin-top: -60px;
    margin-bottom: 0;
}

main .landing-en:first-child {
    margin-top: -60px;
    margin-bottom: 0;
}

.landing {
    padding: 0 0 28%;
    /*box-sizing: border-box;
    height: 20px;*/
    background-image: url(../../immagini/testata-landing-ita.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/*background-position: 50px 50px;*/
}

.landing-en {
    padding: 0 0 28%;
    /*box-sizing: border-box;
    height: 20px;*/
    background-image: url(../../immagini/testata-landing-eng.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/*background-position: 50px 50px;*/
}


/*@media screen and ( min-width:1440px ) { 
    .landing {
        padding: 0 0 25%;
    } 	
}
@media screen and ( max-width:767px ) { 
    .landing {
        padding: 0 0 50%;
    }   	
}*/

.intro-testo {
    font-size: 1.4em;
	text-align:center; 
    } 




.box_privacy {
	margin:10px 0px;
	width:100% !important;
	height:100px !important;
	overflow:auto
}

.box_consenso_privacy {
	margin:10px 0px;
	width:100% !important;
	height:100px !important;
	overflow:auto
}

.box_consenso_estensione {
	margin:10px 0px;
	width:100% !important;
	height:190px !important;
	overflow:auto
}

.icon-form {width:36px; height:36px; margin-right:5px;}
.campiOB  {font-size:12px; float:right; text-align:right;}

.center {text-align:center;}

	.timeline h3 {
		padding: 40px 12px;
		font-family: Roboto, sans-serif;
		font-weight: 400;
		background: #1c522c no-repeat 50% 50%;
		background-size: cover;
		color: #fff;
		font-size: 2.8em;
		line-height: 1;
	}
	.timeline .media-box {
		background: #fff;
	}
	.timeline .media-box:after {
		display: table;
		content: '';
		clear: both;
	}
	.timeline p {
		padding: 20px;
		}
	.timeline .btn-more + p {
		float: right;
		padding-left: 10px;
		width:70%;
	}
	
		.btn-more {
			width: 43px;
			height: 43px;
			text-indent: -100%;
			overflow: hidden;
			background: #1c522c url('../../assets/img/btn-more.png') no-repeat 50% 50%;
			border-radius: 50%;
			border: 0 none;
			padding: 0;
			display: inline-block;
			float: right;
			margin: 10px 10px 0.2em 1em;
			margin-left: 5%;
			cursor: pointer;
			position: relative;
		}
		.reveal.tiny > p {
			margin-right: 1em;
		}
		.listing.filtered > h3 { float:right; }
		
		.listing {min-height:780px}
		
		
#boxAllegatieLink {border:1px solid #1c522c; padding:2px; margin-bottom:10px;}
#allegati {}
.titoloboxapp {background-color:#1c522c; color:#fff; padding:2px 5px;}
.contenutobox {padding:10px;}

.subpages {}
.subpages ul{padding:5px;}
.subpages li{padding:2px; /*border-bottom:1px solid #1c522c;*/ list-style-type: none;}
		

		
		
		
		@media screen and (min-width: 64em) {
			.p-corporate-cert .listing.filtered > .nav-filter {
				float: left;
				clear: right;
				margin-left: 1em;
			}
		}
		.resources-list, .resources-list > li {
			list-style: none;
			margin: 0 0 0.75em;
			padding: 0;
		}
		.resources-list {
			padding: 20px;
			height: 100%;
			background: #fff;
			margin: 0;
		}
		.resources-list > li > a {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.15em;
		}
		.resources-list > li > a:hover {
			color: #00BB4A;
		}
		.resources-list > li:last-child {
			margin-bottom: 0;
		}

	.mega-menu-pane {
		max-width: none;
		width: 100%;
		background: #444;
		background: rgba(64,64,64,.85);
		color: #fff;
		border: 0 none;
	}
	
	.mega-menu-pane a {
		color: #fff;
	}
	
	.mega-menu-pane .row li {
		list-style-type: none;
	}
	
	.mega-menu-pane > .container {
		margin: auto;
		float: none;
	}
	@media screen and (min-width: 40em) {
		.mega-menu-pane > .container {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
		}
	}		
		
    .p-newsletter .intro {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		.p-newsletter .page-content {
			margin-top: -60px;
			position: relative;
		}
		.callout.caprari-2 {
			border: 0 none;
			background: none;
			font-size: 1.2em;
			color: #1c522c;
		}
		.curtains {
			background: url(../img/demo/pagine/newsletter-sx.jpg) no-repeat -50% 0, url(../img/demo/pagine/newsletter-dx.jpg) no-repeat 150% 0;
		}
		@media screen and ( max-width:64em ) {
			.curtains {
				background-position: -80% 0, 180% 0;
			}
		}
		@media screen and ( min-width:80em ) {
			.curtains {
				background-position: -30% 0, 130% 0;
			}
		}
		
		.lista-soluzioni__img > div {
		position: relative;
		}
	.lista-soluzioni__img .link-dettagli>button,
	.lista-soluzioni__img .link-dettagli>a {
		width: 43px;
		height: 43px;
		margin: -22px 0 0 -22px;
		position: absolute;
		top: 50%;
		left: 50%;
		border: 0 none;
		padding: 0;
		border-radius: 50%;
		text-indent: -100%;
		overflow: hidden;
		background: #1c522c url(../img/btn-more2.png) no-repeat 50% 50%;
		display: inline-block;
		cursor: pointer;
	}
	/* v. .btn-more */
	
	.reveal {
			border-width: 6px 0 0;
			border-top: 6px solid #1c522c;
		}
	
	.p-login section.intro {
		padding-top: 40px;
		padding-bottom: 40px;
	}
		
		
.accordion-title {
	font-size: 1rem;
	font-weight: bold;
}

#top{
	text-align:center;
	padding:5px;
	position:fixed;
	bottom:10px; 
	right:10px;
	cursor:pointer;
	display:none;
	color:#276828;
	font-size:64px;
}

.button.disabled,
.button[disabled] {
    background-color: #1c522c;
    opacity: .5;
}

/* logo 75mo */
.logo h1 {
	margin: -15px 0 0;
}
.p-home .logo h1 {
	margin-top: -8px;
}
